#==============================================================================#
# RUSP GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# OS files
#==============================================================================#
# Linux
*~
# Apple
.DS_Store
.AppleDouble
.LSOverride
.svn
.Spotlight-V100
.Trashes
# Windows
Thumbs.db
Desktop.ini

#==============================================================================#
# Folder for temp contents
#==============================================================================#
_ignore

#==============================================================================#
# C/C++ compilation files and folders
#==============================================================================#

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
