# Eclipse
.project
.cproject
.settings

# Bin
bin/

# Old
old/

# Docs source
docs/data/
docs/img/
docs/slide/


# Object
*.o
*.ko
*.obj
*.elf

# Temp
*~

# Lyx
*.lyx

# Precompiled
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
