# ECLIPSE
.project

# Bin Folders
bin/

# Old Folders
old/

# Object files
*.o
*.ko
*.obj
*.elf

# Temp files
*~

# Lyx Files
*.lyx

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
